<nav>
<a href="/states">STATES</a> |
</nav>

<h1><%= @state.name %></h1>

<div><button>
  <%= link_to "Edit State", "/states/#{@state.id}/edit" %></button>
</div>

<div>
  <%= form_tag "/states/#{@state.id}", method: :delete do %>
  <%= submit_tag 'Delete state' %>
  <% end %>
</div>


<h3>U.S. legislators for the state of <%= @state.name %></h3>
<ul>
  <% @results.each do |result| %>
  <li>
    <a href="/senators/<%= result['bioguide_id'] %>">
    <%= result["title"] %>. <%= result["first_name"] %> <%= result["last_name"] %> (<%= result["party"] %>)
    </a>
  </li>
  <% end %>
</ul>
