<div class="container">
  <div class="title">
    <h1>U.S. Legislators</h1>
  </div>
  <div class="api_list">
    <ul>
      <% @results.each do |result| %>
        <li>
          <a href="/senators/<%= result["bioguide_id"] %>"><%= result["title"] %>. <%= result["first_name"] %> <%= result["last_name"] %>, <%= result["state_name"] %></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
