<div class="container">
  <div class="title">
    <h1>Senate</h1>
  </div>
  <div class="list">
    <ul>
      <% @results.each do |result| %>
      <a href="/senators/<%= result["bioguide_id"] %>">
        <li>
          <%= result["title"] %>. <%= result["first_name"] %> <%= result["last_name"] %>, <%= result["state_name"] %><br>
        </li>
      </a>
      <% end %>

    </ul>
  </div>

</div>
