<div class="legis_container">

  <h2><%= @results.first["title"] %>. <%= @results.first["first_name"] %> <%= @results.first["last_name"] %></h2>
  <h5>
    <%= @results.first["state_name"] %> -
    <% if @results.first["party"] == "D" %>
      Democrat
    <% else %>
      Republican
    <% end %>
  </h5>

  <%# raise %>
  <% if FileTest.exist?(Rails.root + "app/assets/images/#{@id}.jpg") %>
    <% image_check = image_tag("#{@id}.jpg") %>
    <%= image_tag("#{@id}.jpg") %>
  <% end %>

  <h3>Contact Info</h3>

    Twitter: <%= @results.first["twitter_id"] %><br>
    Website: <%= @results.first["website"] %><br>
    YouTube: <%= @results.first["youtube_id"] %><br>
    Facebook: <%= @results.first["facebook_id"] %><br>

  <h3>Committees</h3>
    <ul>
      <% @committees.each do |committee| %>
        <li><%= committee["name"] %></li>
      <% end %>
    </ul>

  <% if @phrases.any? %>
    <h3>Capitol Words</h3>
    During Congressional hearings, <%= @results.first["title"] %>. <%= @results.first["last_name"] %> has said the words:<br>
    <ul>
      <% @phrases.each do |phrase| %></h3>
        <li><%= phrase["ngram"] %> <%= phrase["count"] %> times</li></font>
      <% end %>
    </ul>
  <% end %>
</div>
