<!DOCTYPE html>
<html>
<head>
  <title>trackCongress</title>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "normalize", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div class="nav">
    <div class="left">

      <ul>
        <li><a href="/">trackCONGRESS</a></li>
        <li><a href="/states">STATES</a></li>
        <li><a href="/senators">LEGISLATORS</a></li>
      </ul>

    </div>
    <div class="right">
      <ul>
        <% if session[:user_id] %>
        <li><%= link_to "LOGOUT", logout_path %></li>
      <% else %>
        <li><%= link_to "SIGNUP", signup_path %></li>
        <li><%= link_to "LOGIN", login_path %></li>
      </ul>
      </div>
    <% end %>

  </div>

  <%= yield %>

</body>
</html>
