<!DOCTYPE html>
<html>
<head>
  <title>CongressTracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "normalize", :media => "all" %>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div class="nav">
    <div class="left">

      <ul>
        <li><a href="/">poliTracker</a></li>
        <li><a href="/states">STATES</a></li>
        <li><a href="/senators">LEGISLATORS</a></li>
      </ul>

    </div>
    <% if session['user_id'] %>
      <div class="right"><a href="/logout">LOGOUT</a></div>
    <% else %>
      <div class="right">
        <ul>
          <li><a href="/login">LOGIN</a></li>
          <li><a href="/signup">SIGNUP</a></li>
        </ul>
      </div>
    <% end %>

  </div>

  <%= yield %>

</body>
</html>
